@using PagedList;
@using PagedList.Mvc;
@using System.Globalization;
@model IPagedList<BWR.Application.Dtos.Transaction.TransactionDto>
@{
    ViewBag.Title = "كشف الحوالات المسلمة";
    Layout = "~/Views/Shared/_BlankPageLayout.cshtml";
}
<h1>كشف الحوالات المسلمة</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                العملة
            </th>
            <th>
                المبلغ
            </th>
            <th>
                المرسل
            </th>
            <th>
                العنوان
            </th>
            <th>
                تاريخ التسليم
            </th>
            <th>
                تاريخ إنشاء الحوالة
            </th>
            <th>
                الفرع المرسل
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderClient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderClient.Address)
                </td>
                <td>
                    @{
                        Write(((DateTime)item.DeliverdDate).ToString("dd/MM/yyyy", new CultureInfo("ar-AE")));
                    }
                </td>
                <td>
                    @{
                        if (item.Created != null)
                        {
                            Write(item.Created.Value.ToString("dd/MM/yyyy", new CultureInfo("ar-AE")));
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderCompany.Name)
                </td>
                @*<td>
                        <a href="OuterTransactionDetials?transactionId=@item.Id" class="btn btn-primary">عرض </a>
                        {Write(item.BwMoenyActions.First().Id.ToString())}
                    </td>*@
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, Page =>
Url.Action("DileveredTransactions","Transaction",
new { Page,
    companyId = Request.QueryString["companyId"],
    from = Request.QueryString["from"],
    to = Request.QueryString["to"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })




